<div class="item" style="padding-top: 10px">
	<div class="item">
		<div class="itemLabel">
			Docking Port Status:
		</div>
		<div class="itemContent">
			{{if docking_status == "docked"}}
				<span class="good">DOCKED</span>
				<span style="float: right">{{:~link('Override', 'alert', {'command' : 'toggle_override'}, null, airlock_disabled ? null : 'redBackground')}}</span>
			{{else docking_status == "docking"}}
				<span class="average">DOCKING</span>
				<span style="float: right">{{:~link('Override', 'alert', {'command' : 'toggle_override'}, null, airlock_disabled ? null : 'redBackground')}}</span>
			{{else docking_status == "undocking"}}
				<span class="average">UNDOCKING</span>
				<span style="float: right">{{:~link('Override', 'alert', {'command' : 'toggle_override'}, null, airlock_disabled ? null : 'redBackground')}}</span>
			{{else docking_status == "undocked"}}
				<span class="dark" style="font-weight: bold">UNDOCKED</span>
			{{else}}
				<span class="bad">ERROR</span>
			{{/if}}
		</div>
	</div>
</div>
<div class="item" style="padding-top: 10px">
	<div class="item">
		<div class="itemLabel">
			Chamber Pressure:
		</div>
		<div class="itemContent">
			{{:~displayBar(chamber_pressure, 0, 200, chamber_pressure < 80 || chamber_pressure > 120 ? 'bad' : chamber_pressure < 95 || chamber_pressure > 110 ? 'average' : 'good')}}
			<div class="statusValue">
				{{:chamber_pressure}} kPa
			</div>
		</div>
	</div>
</div>
<div class="item" style="padding-top: 10px">
	<div class="item">
		<div class="itemContent" style="width: 100%">
			{{:~link('Cycle to Exterior', 'arrowthickstop-1-w', {'command' : 'cycle_ext'}, (processing || airlock_disabled) ? 'disabled' : null)}}
			{{:~link('Cycle to Interior', 'arrowthickstop-1-e', {'command' : 'cycle_int'}, (processing || airlock_disabled) ? 'disabled' : null)}}
		</div>
		<div class="itemContent" style="padding-top: 2px; width: 100%">
		{{if interior_status.state == "open"}}
			{{:~link('Force exterior door', 'alert', {'command' : 'force_ext'}, airlock_disabled ? 'disabled' : null, 'redBackground')}}
		{{else}}
			{{:~link('Force exterior door', 'alert', {'command' : 'force_ext'}, airlock_disabled ? 'disabled' : null, processing ? 'yellowBackground' : null)}}
		{{/if}}
		{{if exterior_status.state == "open"}}
			{{:~link('Force interior door', 'alert', {'command' : 'force_int'}, airlock_disabled ? 'disabled' : null, 'redBackground')}}
		{{else}}
			{{:~link('Force interior door', 'alert', {'command' : 'force_int'}, airlock_disabled ? 'disabled' : null, processing ? 'yellowBackground' : null)}}
		{{/if}}
		</div>
	</div>
	<div class="item" style="padding-top: 10px; width: 100%">
			{{:~link('Abort', 'cancel', {'command' : 'abort'}, (processing && !airlock_disabled) ? null : 'disabled', processing ? 'redBackground' : null)}}
	</div>
</div>